<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Discover</title>
</head>
<body>
    <div class="navbar">
        <img id="navbar_background" src="{{url_for('static', filename='imgs/wood_background2.jpg')}}" alt="navbar_background" />

        <script type="text/javascript">
        target=document.getElementById('navbar_background');
        target.style.width=(screen.width)+'px';
        target.style.height=((screen.height/10))+'px';
        
        </script>
        <div class="navbar_left">
                <button class="navbar_button_1">
                <a href="/home" class="navbar_text">Home</a>
                </button>
                <button class="navbar_button_1">
                <a href="/popular" class="navbar_text">Popular</a>
                </button>
                <button class="navbar_button_1">
                    <a href="/review" class="navbar_text">Add Review</a>
                </button>
        </div>
        <div class="navbar_right">
            <!-- Checks too see if the user is logged in or not -->
            {% if user_id > 0 %}
            <div>
                <form action="/logout" method="POST">
                    <input type="submit" class="navbar_button_3" value="Logout">
                </form>
            </div>
            <div>
                    <button class="navbar_button_2">
                    <a href="/profile" class="navbar_text">Profile</a>
                    </button>
            </div>
            
            {% else %}
                    <a href="/" class="navbar_text">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="mb-10">
        <h1 class="att_rating_text font_60 mb-20">Discover Reviews</h1>
    </div>
    <div class="disc_page">
        <div class="flex disc_box_top_bot">
            {% for rest in restaurants1 %}
            <div class="flex review_discover_box">
            <div class="rating_box">
                <p class="review_title_p">{{rest.rest_name}}</p>
            </div>
            <div class="flex rating_box rows">
                <div class="mr_5p ml-10">
                    <p class="att_rating_text">Rating:</p>
                </div>
                <div>
                    {% for star in range(rest.rating) %}
                    
                        <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for star in range(5 - (rest.rating)) %}
                        <span class="fa fa-star unchecked"></span>
                    {% endfor %}
                </div>
            </div>
            <div class="p_10">
                <p class="review_text">
                    {{rest.review}}
                </p>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="flex disc_box_mid">
            {% for rest in restaurants2 %}
            <div class="flex review_discover_box">
            <div class="rating_box">
                <p class="review_title_p">{{rest.rest_name}}</p>
            </div>
            <div class="flex rating_box rows">
                <div class="mr_5p ml-10">
                    <p class="att_rating_text">Rating:</p>
                </div>
                <div>
                    {% for star in range(rest.rating) %}
                    
                        <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for star in range(5 - (rest.rating)) %}
                        <span class="fa fa-star unchecked"></span>
                    {% endfor %}
                </div>
            </div>
            <div class="p_10">
                <p class="review_text">
                    {{rest.review}}
                </p>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="flex disc_box_top_bot">
            {% for rest in restaurants3 %}
            <div class="flex review_discover_box">
            <div class="rating_box">
                <p class="review_title_p">{{rest.rest_name}}</p>
            </div>
            <div class="flex rating_box rows">
                <div class="mr_5p ml-10">
                    <p class="att_rating_text">Rating:</p>
                </div>
                <div>
                    {% for star in range(rest.rating) %}
                        <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for star in range(5 - (rest.rating)) %}
                        <span class="fa fa-star unchecked"></span>
                    {% endfor %}
                </div>

            </div>
            <div class="p_10">
                <p class="review_text">
                    {{rest.review}}
                </p>
            </div>
        </div>
        {% endfor %}
        </div>

    </div>
        <!-- This page will show recent reviews of restaurants -->


</body>
</html>