<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Profile</title>
</head>
<body>
    <div class="navbar">
        <img id="navbar_background" src="{{url_for('static', filename='imgs/wood_background2.jpg')}}" alt="navbar_background" />

        <script type="text/javascript">
        target=document.getElementById('navbar_background');
        target.style.width=(screen.width)+'px';
        target.style.height=((screen.height/10))+'px';
        
        </script>
        <div class="navbar_left">
                <button class="navbar_button_1">
                <a href="/home" class="navbar_text">Home</a>
                </button>
                <button class="navbar_button_1">
                <a href="/popular" class="navbar_text">Popular</a>
                </button>
                <button class="navbar_button_1">
                    <a href="/review" class="navbar_text">Add Review</a>
                </button>
        </div>
        <div class="navbar_right">
            <!-- Checks too see if the user is logged in or not -->
            {% if user_id > 0 %}
            <div>
                <form action="/logout" method="POST">
                    <input type="submit" class="navbar_button_3" value="Logout">
                </form>
            </div>
            <div>
                    <button class="navbar_button_2">
                    <a href="/profile" class="navbar_text">Profile</a>
                    </button>
            </div>
            
            {% else %}
                    <a href="/" class="navbar_text">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="flex profile_cont">
        <div class="mb-50">        <h1 class="color_white">Welcome {{fname}}</h1></div>
        <div class="att_qr_box p-50">
        <form action="/change/password" method="POST">
            <h1 class="title_1">Change Password</h1>
            <div class="flex mb-10 mt-10">
                <div class="login-text">
                    Current Password:
                </div>
                <div>
                    <input type="text" name="password" class="search_cont">
                </div>
            </div>
            <div class="flex mb-10">
                <div class="login-text">
                    New Password:
                </div>
                <div>
                    <input type="text" name="new_pass" class="search_cont">
                </div>
            </div>
            <div class="flex mb-20">
                <div class="login-text">
                    Confirm Password:
                </div>
                <div>
                    <input type="text" name="conf_new_pass" class="search_cont">
                </div>
            </div>
            <div class="cont mb-20">
                <input type="submit" name="Register" class="att-but" value="Submit">
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="error_p">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

</div>
</body>
</html>